<footer>
    <div>
        <p>addresse: kulturhusets vej 115 roskilde</p>
        <p>tlf: 10203040</p>
        <p>email: kultur@huset.dk</p>
        <button id="tildmeld">tildmed nyhedsbrev</button>
    </div>
</footer>