<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%include ../partials/css %>
</head>

<body>
    <div class="container">
        <%include ../partials/nav %>
            <div class="row">
                <div class="col-sm-12">
                    <div id="createNewEvent">
                        <img id="adminCreate" class="adminCreate" src="/img/plus.png" title="opret nyt arrangement">
                    </div>
                    <div id="myDiv"></div>
                </div>
            </div>

            <div id="myDiv2"></div>
            <div id="myDiv3"></div>
            <%include ../partials/js %>
                <script src="/js/adminPanel.js"></script>
    </div>
</body>

</html>