<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%include ../partials/css %>
</head>

<body>
    <div class="container">
            <%include ../partials/nav %>
            <div id="categorycontainer">
                <h5>Kategorier</h5>
                <a class="cat" href="#">alle</a>
                <a class="cat" href="#">film</a>
                <a class="cat" href="#">teater</a>
                <a class="cat" href="#">koncerter</a>
                <a class="cat" href="#">udstillinger</a>
                <a class="cat" href="#">foredrag</a>
            </div>



            <div id="myDiv">
            </div>
            <%include ../partials/js %>
                <script src="js/events.js"></script>
        </div>
</body>

</html>